version: '3.8'

services:
  backend:
    build: ./backend
    container_name: datavault_backend
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: datavault_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend:8000

    stdin_open: true
    tty: true

  mongo:
    image: mongo:latest
    container_name: datavault_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
